/* Goggle Fonts- Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&display=swap');
* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #9EAA58;
}

body {
  background-color: #FFFCE9;
}

h1 {
  color: #9EAA58;
  text-align: center;
}

.header {
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 40px;
}

a:link,
a:visited {
  color: #9EAA58;
  text-decoration: none;
}

a:hover,
a:active {
  color: #4c5229;
  text-decoration: underline;
}

.container.forms-row {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  flex-direction: row;
}

.container.forms-column {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  flex-direction: column;
}

.form {
  position: relative;
  border-radius: 6px;
  max-width: 400px;
  padding: 30px;
  width: 100%;
  background: #FFE79D;
  margin: auto;
}

.form.register {
  display: none;
}

header {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

form {
  margin-top: 30px;
}

form .field {
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  background: #FFFCE9;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input {
  padding: 0 15px;
  border: 1px solid #FFFCE9;
  outline: none;
  background-color: #FFFCE9
}

.field input:focus {
  border-bottom-width: 2px;
}

.field button {
  background-color: #F28660;
  transition: all 0.3s ease;
  cursor: pointer;
  color: white;
}

.field button:hover,
.field button:active {
  background-color: #d84f1d;
  color: white;
}

.form-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.form a:link,
a:visited {
  color: #F28660;
  text-decoration: none;
}

.form a:hover,
a:active {
  color: #d84f1d;
  text-decoration: underline;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-error {
  border: 2px solid red;
}
