/* Goggle Fonts- Ubuntu */
/*colors: 
#9EAA58 - sage green
#F28660 - salmon roe pink
#FFFCE9 - spicy white
#FFE79D - tannish orange
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFCE9;
    color: #9EAA58;
}

a:link,
a:visited {
    color: #F28660;
    text-decoration: none;
}

a:hover,
a:active {
    color: #4c5229;
    text-decoration: underline;
}


.header {
    margin: 0;
    padding: 0;
    margin-bottom: -150px;
}

.add-contact {
    display: none; /* Hides the add contact form by default */
}

.container {
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.form {
    position: absolute;
    border-radius: 6px;
    max-width: 400px;
    padding: 30px;
    width: 100%;
    background: #FFE79D;
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

form .field {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #FFFCE9;
    background: 0;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    padding: 0 15px;
    border: 1px solid #FFFCE9;
    outline: none;
    background-color: #FFFCE9;
}

.field input:focus {
    border-bottom-width: 2px;
}

.field button {
    background-color: #F28660;
    transition: all 0.3s ease;
    cursor: pointer;
    color: white;
}

.field button:hover,
.field button:active {
    background-color: #d84f1d;
    color: white;
    background-color: #e45e2d;
}

.field header {
    size: 300;
}

img[src="close_icon.png"] {
    position: absolute;
    top: 20px;
    right: 20px;
    max-height: auto;
    max-width: 4%;
}

img[src="plus_icon.png"] {
    max-height: auto;
    max-width: 7%;
}

img[src="search_icon.png"] {
    max-height: auto;
    max-width: 7%;
}
